.card{
    cursor: pointer;
    .one{
        position: relative;
        width: 320px;
        .left{
            position: absolute;
            left: 25px;
            top: 25px;
            font-family: "Chakra Petch";
        }
        .right{
            position: absolute;
            top: 25px;
            right: 30px;
            font-family: "Chakra Petch";
        }
        .cardImg{
            position: absolute;
            left: 35px;
            top: 55px;
        }
        .title{
            position: absolute;
            left: 25px;
            top: 200px;
            font-size: 14px;
            font-weight: bold;
            font-family: "Chakra Petch";
        }
        .load{
            position: absolute;
            top: 207px;
            right: 40px;
            display: flex;
            gap: 8px;
            .l1{
                width: 6px;
                height: 18px;
                border-radius: 2px;
                background-color: #5A5C5D;
            }
            .l2{
                width: 6px;
                height: 18px;
                border-radius: 2px;
                background-color: #5A5C5D;
            }
            .l3{
                width: 6px;
                height: 18px;
                border-radius: 2px;
                background-color: #5A5C5D;
            }
            .l4{
                width: 6px;
                height: 18px;
                border-radius: 2px;
                background-color: #5A5C5D;
            }
            .l5{
                width: 6px;
                height: 18px;
                border-radius: 2px;
                background-color: #5A5C5D;
            }
            .l6{
                width: 6px;
                height: 18px;
                border-radius: 2px;
                background-color: #5A5C5D;
            }
        }
    }
    &:hover{
        .one{
            .load{
                .l1{
                    background-color: white;
                    -webkit-box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    -moz-box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    transition-delay: 0.2s;
                }
                .l2{
                    background-color: white;
                    -webkit-box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    -moz-box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    transition-delay: 0.3s;
                }
                .l3{
                    background-color: white;
                    -webkit-box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    -moz-box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    transition-delay: 0.4s;
                }
                .l4{
                    background-color: white;
                    -webkit-box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    -moz-box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    transition-delay: 0.5s;
                }
                .l5{
                    background-color: white;
                    -webkit-box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    -moz-box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    transition-delay: 0.6s;
                }
                .l6{
                    background-color: white;
                    -webkit-box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    -moz-box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    box-shadow: 0px 0px 21px 2px rgb(5, 38, 174);
                    transition-delay: 0.7s;
                }
            }
        }
    }
    
}